
<div class="my-3 text-center">
  <p style="font-size:18px;">That would make me so happy if ... </p>
  <h4  style="font-size:30px;">...<%= partner.statues.last.love_statue_message %></h4>
</div>

<div class="my-3  text-center">
  <p style="font-size:18px;">You really drove / drive me mad when ...</p>
  <h4 style="font-size:30px;">...<%= partner.statues.last.hate_statue_message %></h4>
</div>
