  <%= link_to kiss_action_couples_path, data: {turbo_method: :patch}, style:"text-decoration:none; color:inherit;"  do %>
    <div id="kiss" data-action="click->interactions#firekiss" class="action1 position-absolute">💋</div>
  <% end %>
  <%# <div class="action1 position-absolute">💋</div> %>

  <%= link_to punch_action_couples_path, data: {turbo_method: :patch}, style:"text-decoration:none; color:inherit;" do %>
    <div id="punch" data-action="click->interactions#firepunch" class="action2 position-absolute">⚡️</div>
  <% end %>
  <%# <div class="action2 position-absolute">⚡️</div> %>

  <%= link_to love_action_couples_path, data: {turbo_method: :patch}, style:"text-decoration:none; color:inherit;" do %>
    <div id="love" data-action="click->interactions#firelove" class="action3 position-absolute">💖</div>
  <% end %>
  <%# <div class="action3 position-absolute">💖</div> %>

  <%= link_to peace_action_couples_path, data: {turbo_method: :patch}, style:"text-decoration:none; color:inherit;"  do %>
    <div  id="peace" data-action="click->interactions#firepeace" class="action4 position-absolute">😏</div>
  <% end %>
  <%# <div class="action4 position-absolute"></div> %>
