<%# Affichage action à toggle d-none - start %>
  <div id="action-kiss" data-interactions-target="kiss" class="d-flex justify-content-start position-absolute action-sent">💋</div>
  <div id="action-punch" data-interactions-target="punch" class="d-flex justify-content-start position-absolute action-sent">⚡️</div>
  <div id="action-love" data-interactions-target="love" class="d-flex justify-content-end position-absolute action-sent">💖</div>
  <div id="action-peace" data-interactions-target="peace" class="d-flex justify-content-end position-absolute action-sent">😏</div>
<%# Affichage action à toggle d-none - end %>
