// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #0d6efd;
$yellow: #ffc65a;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;

// color Together

$purple: rgb(128, 89, 255);
$lightPurple: #bda9fc;
$lightWhite: #f4f4f4;
$orange: rgb(226, 100, 108);
$stormy: rgb(32, 13, 92);
$rainy: rgb(128, 89, 255);
$cloudy: rgb(93, 89, 96);
$sunny: rgb(226, 100, 108);

.text-dark {
  color: #000000;
}

.text-orange {
  color: $orange;
}

.bg_orange {
  background-color: $orange;
}

.underline_purple {
  border-bottom: 6px solid $orange !important;
}

.underline_transparent {
  border-bottom: 6px solid transparent !important;
}
