// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap');

// Define fonts for body and headers
$body-font: 'Poppins', sans-serif;
$headers-font: 'VT323', sans-serif;

.font_vt323 {
  font-family: 'VT323', monospace;
}

.poppins-20 {
  font-size: 20px !important;
  font-family: "Poppins", sans-serif;
}

.poppins-18 {
  font-size: 18px !important;
  font-family: "Poppins", sans-serif;
}

.font-size-30px {
  font-size: 30px;
}