<div class="container my-4 mx-auto">
  <div class="row justify-content-center">
    <div class="col-8 col-md-6">

      <h2 class="mb-5">Pending confirmation by partner</h2>

      <div class="mb-5">
        <p class="mb-3">Thank you for signing in!</p>
        <p class="mb-3">A confirmation request was sent to your partner.</p>
        <p class="mb-3">After confirmation from your partner, you'll be able to join his/her couple, login, and use the app !</p>
        <p>We're looking forward to see you <strong>2gethR!</strong></p>
      </div>

      <%= link_to "Back to homepage", root_path, class:"btn btn-lightpurple" %>

    </div>
  </div>
</div>
