// Specific CSS for your home-page
.bg_pages_home {
  .avatars {
    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
    }
    img:last-child {
      transform: rotate(45deg);
    }
  }

  h1 {
    font-size: 56px;
    color: white;
  }

  .cta {
    a {
      font-size: 30px;
      color: white;
      text-decoration: none;
    }
  }
}

.play-link {
  font-size: 24px;
  letter-spacing: 1.8px;
}
