<h1><%= @generic_reward.title %></h1>

<div class="card">

  <p><strong>Description:</strong> <%= @generic_reward.description %></p>
  <p><strong>Cost:</strong> <%= @generic_reward.cost %></p>

</div>

<%= link_to 'Back to Rewards', generic_rewards_path %>
