
<h1>Your Given Rewards</h1>

<% @rewards.each do |reward| %>
  <div>
    <strong>Title:</strong> <%= reward.title %><br>
    <strong>Description:</strong> <%= reward.description %><br>

  </div>
  <hr>
<% end %>
