<div>
  <%= link_to "Your Rewards", given_rewards_couple_rewards_path, class: "btn btn-primary" %>
</div>

<div>
  <%= link_to "Sentence/Penalty", to_do_rewards_couple_rewards_path, class: "btn btn-primary" %>
</div>

<div>
  <%= link_to "Create New Reward", generic_rewards_path, class: "btn btn-success" %>
</div>
