<div class="py-5 bg_purple">
  <h1 class="text-white text-center">Ask a reward to your partner</h1>

  <%= link_to "Your Rewards", given_rewards_couple_rewards_path, class: "btn btn-primary" %>

  <%= link_to "Create New Reward", generic_rewards_path, class: "btn btn-success" %>

  <%= link_to "Sentence/Penalty", to_do_rewards_couple_rewards_path, class: "btn btn-primary" %>
</div>




