<div class="pt-5 pb-2">
  <h2 class="text-center">Score</h2>

  <div style="width:100%;" class="d-flex justify-content-between px-3">

    <div class="d-flex align-items-center">
      <div style="background-image: url('<%= cl_image_path user.photo.key %>');background-position: center;  background-size: cover; height:25px; width:25px; border-radius:50%;"></div>
      <div class="px-3"><%= "You >> #{user.score}pts" %></div>
    </div>

    <i class="fa-solid fa-bolt mt-2" style="font-size:24px"></i>

    <div class="d-flex align-items-center">
      <div class="px-3"><%= "#{partner.score}pts << #{partner.nickname} " %></div>
      <div style="background-image: url('<%= cl_image_path partner.photo.key %>');background-position: center;  background-size: cover; height:25px; width:25px; border-radius:50%;"></div>
    </div>

</div>
