  <div id="actions-div" class="bg-secondary d-flex justify-content-between my-2">
    <div id="punch" class="action-picto bg-primary d-flex justify-content-center align-items-center"><h1 class="fa-solid fa-hand-fist"></h1></div>
    <div id="love" class="action-picto bg-primary ms-4 d-flex justify-content-center align-items-center"><h1 class="fa-solid fa-heart"></h1></div>
    <div id="kiss" class="action-picto bg-primary ms-4 d-flex justify-content-center align-items-center"><h1 class="fa-regular fa-face-kiss-wink-heart"></h1></div>
    <div  id="peace" class="action-picto bg-primary ms-4 d-flex justify-content-center align-items-center"><h1 class="fa-solid fa-peace"></h1></div>
  </div>
  <div id="meteo" class="bg-danger flex-grow-1 py-5 d-flex justify-content-center align-items-center">
    <div id="big-avatar" class="bg-secondary" style="height:250px; width:250px; border-radius:50%;">
      <div id="action-punch" class="action-sent d-none"></div>
      <div id="action-love" class="action-sent d-none"></div>
      <div id="action-kiss" class="action-sent d-none"></div>
      <div id="action-peace" class="action-sent d-none"></div>
    </div>
  </div>
