
<div>
  <h2 class="text-center">Let's find out who does what?</h2>
  <div class="chart">
    <canvas data-controller="chart-tasks-main" data-chart-tasks-main-userrewards-value="<%= @user_rewards %>">
    <!-- TODO: Display horizontal bar chart 100% below -->
    </canvas>
  </div>
</div>
