<div>

  <h2 class="text-center">Couple meteo</h2>

  <div class="chart">
    <h4 class="text-center">Me</h4>
      <canvas data-controller="chart-usermood" data-chart-usermood-usermood-value="<%= @user_mood %>">
      <!-- TODO: Display doughnut chart below -->
      </canvas>
  </div>

  <div class="chart">
    <h4 class="text-center">Her</h4>
    <canvas data-controller="chart-partnermood" data-chart-partnermood-usermood-value="<%= @partner_mood %>">
      <!-- TODO: Display doughnut chart below -->
    </canvas>
  </div>

</div>
