<div>
  <h4 class="text-center">Last week metrics</h4>

  <div class="d-flex justify-content-between">
    <div style="font-size:24px;"><%= @user_period_tasks_points %></div>
    <div style="font-size:20px;"><p class="text-center">Credits earned</p></div>
    <div style="font-size:24px;"><%= @user_period_tasks_points %></div>
  </div>

  <div class="d-flex justify-content-between">
    <div style="font-size:24px;"><%= @partner_period_tasks_points %></div>
      <div style="font-size:20px;"><p class="text-center">Credits spent</p></div>
    <div style="font-size:24px;"><%= @partner_period_tasks_points %></div>
  </div>

</div>
