<div>
  <h4 class="text-center">Earnings & Spendings</h4>

  <div class="px-3 d-flex justify-content-between">
    <div style="font-size:24px;" class="text-primary"><strong><%= @user_period_tasks_points %></strong></div>
    <div style="font-size:20px;"><p class="text-center">Credits earned</p></div>
    <div style="font-size:24px;" class="text-primary"><strong><%= @partner_period_tasks_points %></strong></div>
  </div>

  <div class="px-3 d-flex justify-content-between">
    <div style="font-size:24px;" class="text-warning"><strong><%= @user_period_rewards_points %></strong></div>
      <div style="font-size:20px;"><p class="text-center">Credits spent</p></div>
    <div style="font-size:24px;" class="text-warning"><strong><%= @partner_period_rewards_points %></strong></div>
  </div>

</div>
