<div>

  <h2 class="text-center">How many points were won through rewards?</h2
  >
  <div class="d-flex justify-content-between">

    <div class="chart" style="width:50%;">
        <canvas data-controller="chart-rewards-user" data-chart-rewards-user-rewards-value="<%= @user_rewards %>">
        <!-- TODO: Display doughnut chart below -->
        </canvas>
    </div>

    <div class="chart" style="width:50%;">
      <canvas data-controller="chart-rewards-partner" data-chart-rewards-partner-rewards-value="<%= @partner_rewards %>">
        <!-- TODO: Display doughnut chart below -->
      </canvas>
    </div>
  </div>

</div>
