  <div class="chart">
    <h2  class="text-center">Reward split</h2>
      <canvas  data-controller="chart-rewards-main">
        <!-- TODO: Display  horizontal bar chart 100% chart below -->
      </canvas>
    </div>
  </div>
