<div>
  <h2 class="text-center">Individual Task</h2>
  <div class="chart">
    <canvas data-controller="chart-task-detail">
      <!-- TODO: Display doughnut chart below -->
    </canvas>
  </div>
</div>
