<div class="avatars d-flex justify-content-center gap-2">
  <%= image_tag('avatar_0.png') %>
  <%= image_tag('avatar_0.png') %>
</div>
<h1 class="logo text-center">
  2gethr
</h1>
<div class="cta text-center mt-5">
  <% if user_signed_in? %>
    <%= link_to "Play", couple_path(current_user.couple) %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path %>
  <% end %>
</div>
