.bg_purple {
  background-image: url('background_purple.png');
  background-size: cover;
  background-position: top;
}

#pages_home {
  background-image: asset_url('backgrounds/landing_bg.svg');
}

#couples_show {
  background-image: asset_url('backgrounds/show_bg.svg');
}
