<<<<<<< HEAD:app/assets/stylesheets/components/_backgrounds.scss
.bg_pages_home {
=======
.bg_purple {
  background-image: url('background_purple.png');
  background-size: cover;
  background-position: top;
}

#pages_home {
>>>>>>> master:app/assets/stylesheets/components/_background.scss
  background-image: asset_url('backgrounds/landing_bg.svg');
}

.bg_mood {
  background-image: asset_url('backgrounds/show_bg.svg');
}
