.sticky-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1; /* Couleur de fond (optionnelle) */
  padding: 10px; /* Espace intérieur (optionnel) */
  text-align: center; /* Alignement du texte (optionnel) */
}

.content-wrapper{
  min-height: calc(100vh - 185px - 100px);
}
