.task-event {
  color: #8052BD;
  font-weight: bolder;
  text-decoration: none;
}

.reward-event {
  color: #D5C6D0;
  font-weight: bolder;
  text-decoration: none;
}

.tasks-display {
  border: 0.5px solid #333;
  background-color: #D6B4C3;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.rewards-display {
  border: 0.5px solid #333;
  background-color: #6B8CD3;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

#calendar-display {
  width: 100%;
  border: none;
}

.calendar-title {
  color: #fff;
}

.calendar-heading {
  display: flex;
  justify-content: space-between;
}

#week-days {
  color: #626262;
  background-color: transparent;
  border: none;
  opacity: 0.8;
  text-align: center;
}

.simple-calendar {
  .day {
    background-color: transparent;
    border: none;
    text-align: center;
    color: #fff;
    height: 32px;
    width: 32px;
    line-height: 32px;
  }

  .today {

    span {
      border: 1.5px solid #CE7E29;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      line-height: 30px;
      color: #CE7E29;
      text-align: center;
      display: inline-block;
    }

    span:hover, span:active {
      background-color: #fff;
    }
  }
}

.selected {
  border: 1.5px solid #fff;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
}

.event-pending {
  border: 1px solid #C96D1D;
}

.event-done {
  border: 1px solid #19965A;
}

.task-hole {
  backdrop-filter: blur(100px);
  background-color: #9DA9B8;
  font-size: 28px;
  border: 0.5px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-task-hole {
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.event-display {
  color: #777;
}

.avatar-pos {
  position: absolute;
  right: 30px;
}
