.task-event {
  color: #8052BD;
  font-weight: bolder;
  text-decoration: none;
}

.reward-event {
  color: #D5C6D0;
  font-weight: bolder;
  text-decoration: none;
}

.tasks-display {
  border: 0.5px solid #333;
  background-color: #D6B4C3;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.rewards-display {
  border: 0.5px solid #333;
  background-color: #6B8CD3;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

#calendar-display {
  width: 100%;
  border: none;
}

.calendar-title {
  color: #fff;
}

.calendar-heading {
  display: flex;
  justify-content: space-between;
}

#week-days {
  color: #626262;
  background-color: transparent;
  border: none;
  opacity: 0.8;
  text-align: center;
}

.simple-calendar {
  .day {
    background-color: transparent;
    height: 20px;
    border: none;
    text-align: center;
    color: #fff;
  }

  .today {

    span {
      border: 2px solid #fff;
      border-radius: 50%;
      border-color: #CE7E29;
      padding: 10px;
      color: #CE7E29;
    }
  }
}
