.task-event {
  color: #8052BD;
  font-weight: bolder;
  text-decoration: none;
}

.reward-event {
  color: #A1C284;
  font-weight: bolder;
  text-decoration: none;
}

.tasks-display {
  border: 0.5px solid #333;
  background-color: #D6B4C3;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

@media(max-width: 576px) {
  .event {
    font-size: 0.7rem;
  }
}

#calendar-display {
  width: 100%;
}
