.delete-generic-task {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 1.5rem;
  color: #333;
}

.generic-task-card {
  position: relative;
}

.generic-task-edit {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 1.2rem;
  color: #333;
}
