.delete-generic-task {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 1.5rem;
  color: #333;
}

.delete-generic-task:active {
  color: $orange;
}

.generic-task-card {
  position: relative;
}

.generic-task-edit {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 1rem;
  color: #333;
}

.generic-task-edit:active {
  color: $orange;
}

.generic-task-container {
  height: 200px;
  overflow-y: auto;
  width: 95%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.generic-task-main-container {
  overflow-y: hidden;
  width: 97vw;
  margin: 30px 0;
}

.generic-title {
  color: white;
  font-size: 38px;
}

.generic-task-display {
  min-width: 80vw;
}
