
.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  z-index: -1;
  width: 70%;
  max-width: 400px;
  // border-radius: 4px;
  padding: 8px;
  min-height: 80px;
  border-right: 1px solid white;
  border-left: 1px solid white;

}

.sender-style {
  background-color: #E2646C;
  border-radius: 12px 12px 12px 0px;
  color: white;
  backdrop-filter: blur(10px);

}

.receiver-style {
  background-color: #8059ff;
  // backdrop-filter: blur(4px);
  // background: radial-gradient(178.75% 139.16% at 109.39% 82.06%, #737ee42b 0%, rgba(179, 93, 68, 0.00) 100%), rgba(255, 255, 255, 0.10);
  color: white;
  // background-blend-mode: overlay;
  border-radius: 12px 12px 0px 12px;
}
