.card_generic {
  padding: 80px 60px;
  background: rgba(250,250,250,0.5);
  border-radius: 4px;
}

.emoji_reward {
  font-size: 50px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  top: -30px;
  left: 25%;
  z-index: 2;
}

.emoji_reward_small {
  backdrop-filter: blur(100px);
  font-size: 28px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: -40px;
}

.div-blur-transparent {
  border-radius: 50%;
  width: 115px;
  height: 115px;
  top: -37px;
  left: 21%;
  backdrop-filter: blur(100px);
  z-index: 1;
}

.reward-card {
  background: rgba(250,250,250,0.5);
  border-radius: 4px;
  width: 95%;
  margin: auto;
}

.badge {
  font-size: 16px;
}

// --------- old code reward

.text-decoration-none {
  text-decoration: none;
}
.outline-none {
  outline: none;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  width: 200px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sentence-card{
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  width: 200px;
  transition: box-shadow 0.3s ease-in-out;
}

.body-reward {
  height: 100%;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.swiper-slide img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.swiper-btn-next, .swiper-btn-prev {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  border-radius: 50%;
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

.swiper-wrapper {
  background-size: cover;

}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 5px;
}

.swiper-container {

  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.swiper {
  .btn{
    position: absolute;
    bottom: 10%; /* Adjust the bottom margin as needed */
    left: 50%;

    display: flex;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    text-align: center; /* Center text within the button */
    display: inline-block;
  }
}

.award-container {
  display: flex;
  flex-wrap: wrap;

}

.card_generic {
  flex: 1;
  text-decoration: none;
  outline: none;
  position: relative;
  margin-bottom: 20px; /* Optional: Add some margin between cards */
  height: 240px; /* Set a fixed height for the cards */
  /* Hide overflow content */
}
