.my-tasks {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #ACACAC;
}

.my-tasks:hover {
  border: 1px solid #ACACAC;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  cursor: pointer;
}

.dropdown-item {
  background: rgba(250,250,250,0.5);
  font-size: 0.9rem;
}

.fa-circle-dot {
  color: #BB4C28;
  font-size: 30px;
}

.task-picture {
  width: 100%;
  object-fit: content;
}

.task-card {
  position: relative;
}

.delete-task {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.8rem;
  color: #333;
}

.link-button {
  padding: 6px 12px;
}

.card-body-task {
  background-color: rgb(203, 193, 222);
}

.modal-content, .edit-task {
  background-color: #5f9ea0;
}

.list-group-item {
  background: rgba(250, 250, 250, 0.5);
}

.edit-button {
  background-color: #CE6C47;
}
