// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import "simple_calendar";

// Your CSS partials
@import "components/index";
@import "pages/index";

.mb-layout {
  margin-bottom: 5rem;
}

.min-h-83 {
  min-height: 83vh;
}

#interaction {
  height: calc(100vh - 308px - 125px) !important;
}

.score-card {
  width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 12px;
  border-radius: 25px;
}

<<<<<<< HEAD
.mini-avatar {
  background-position: center;
  background-size: cover;
  width: 50px;
  aspect-ratio: 1/1;
  border-radius:50%;
  border:solid;
  border-width:2px;
  border-color:white;
  }
=======
body {
  font-family: $body-font !important;
}
>>>>>>> c44d364622cd9a600b2423fd9cd2e71284d0128f
