// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import "simple_calendar";

// Your CSS partials
@import "components/index";
@import "pages/index";

a {
  text-decoration: none !important;
  color: white;
}

.mb-layout {
  margin-bottom: 5rem;
}

.min-h-83 {
  min-height: 83vh;
}

.score-card {
  width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 12px;
  border-radius: 4px;
}

.mini-avatar {
  background-position: center;
  background-size: cover;
  width: 80px;
  aspect-ratio: 1/1;
  border-radius:50%;
  border:solid;
  border-width:2px;
  border-color:white;
  }

.incoming {
  border-radius:50%;
  font-size: 20px;
  background-color:rgb(197, 3, 3);
  position:absolute;
  top:-10px;
  right:-15px;
  width:35px;
  aspect-ratio: 1/1;
  }

body {
  font-family: $body-font !important;
}

.test {
  color: rgb(255, 255, 0)
}

.bg-stormy {
  background-color:rgb(32, 13, 92);
}

.bg-rainy {
  background-color:rgb(128, 89, 255);
}

.bg-cloudy {
  background-color:rgb(93, 89, 96);
}

.bg-sunny {
  background-color:rgb(226, 100, 108);
}

.icon-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 6px;
  grid-auto-rows: 1fr;
}

.vignette {
  border-radius:10px;
  box-shadow: 5 5 5 grey;
  }
